*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./asset/WallpaperDog-20519092.jpg);
}
.header{
    display: flex;
    color: white;
    height: 60px;
    background-color: black;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
}
.header .logo img{
    background-size: cover;
    height: 60px;
}
.header .logo{
    flex-grow: 0.5;
}
.ul_header{
    flex-grow: 9.5;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.ul_header li{
    line-height: 60px;
    width: 100%;
    text-align: center;
}
.ul_header li:hover{
    background-color: rgb(54, 53, 53);
    cursor: pointer;
    
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.comic{
    background-color: rgba(240, 248, 255, 0.181);
    border-radius: 5px;
    margin: 10px;
    margin-top: 70px;
    padding: 10px 20px;
    text-decoration: none;
    color: rgba(222, 34, 181, 0.723);
    width: 40%;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
}
.comic:hover{
    transform: translateY(-5px);
    transition: 0.5s;
    transform: scale(1.05);
}
.comic img {
    width: 30%;
    float: left;
    border-radius: 5px;
    background-size: cover;
    padding: 6px;
    margin: 10px;
}
.info{
    padding: 10px 10px;
}
.list-info{
    list-style: none;
    line-height: 25px;
}